.listItem {
  width: 20%;
  padding: 0 15px;
  user-select: none;
}

.listItemLink {
  display: flex;
  margin-bottom: 32px;
  padding: 25px 32px;
  background: var(--white);
  border-radius: 32px;
}

.dark .listItemLink {
  background-color: var(--night);
}

.itemImg {
  width: 88px;
  height: 88px;
  margin-right: 24px;
  border-radius: 24px;
}

.itemContent {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  margin: 0 0 12px 0;
  font-weight: 700;
  line-height: 18px;
  color: var(--night);
}

.dark .itemTitle {
  color: var(--white);
}

.itemDescription {
  margin: 0 0 16px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--light-text);
}

.dark .itemDescription {
  color: var(--night-text);
}

.itemType {
  font-weight: 300;
  color: var(--light-text);
}

.dark .itemType {
  color: var(--night-text);
}

.itemRent {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--secondary);
}

@media (max-width: 1700px) {
  .listItem {
    width: 30%;
  }
}

@media (max-width: 1150px) {
  .listItem {
    width: 46%;
  }
}

@media (max-width: 950px) {
  .listItem {
    width: 100%;
  }
}