.container {
  display: flex;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.input {
  width: 300px;
  margin-bottom: 10px;
}

.city {
  margin-bottom: 10px;
}

.title {
  font-family: 'Open Sans', sans-serif;
}

.citiesContainer {
  display: flex;
  flex-wrap: wrap;
}